* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.mainPages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  box-sizing: border-box;
}
