.productLi {
  margin-top: 10px;
  display: flex;
  align-items: center;
  position: relative;
  padding: 55px 0px;
  width: 700px;
  height: 50px;
  list-style: none;

  letter-spacing: -0.5px;
}

.checkBoxBtn {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

.produntImg {
  width: 60px;
  height: 80px;
  margin-right: 20px;
}

.productTitle {
  width: 300px;
}
.pmButtonBox {
  display: flex;
  border: 1px solid #dddfe1;
  margin-right: 65px;
}
.pmButton {
  border: none;
  width: 30px;
  background-color: inherit;
}
.productPrice {
  margin-right: 20px;
}

.listClearbButton {
  width: 15px;
  height: 15px;
  border: none;
  background: url(../../img/x-mark-xxl.png);
  background-size: cover;
}
