* {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
}

.listStyleNone {
  list-style: none;
}

.headerWrap {
  width: 100vw;
  height: 50px;
  visibility: visible;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #efefef;
  box-shadow: rgb(0 0 0 / 7%) 0px 3px 4px 0px;

  .hederLeft {
    width: 150px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    .categoryWraper {
      width: 100px;
      display: flex;
      position: relative;

      .dropBoxDiv {
        margin: 5px 0px 10px 0px;
      }

      :hover {
        color: #5f0080;
        cursor: pointer;
      }

      :hover ~ .dropBox {
        display: block;
      }

      .dropBox {
        display: none;
        width: 230px;
        z-index: 100;
        background-color: white;
        border: 1px solid #dddddd;
        position: absolute;
        left: 10px;
        top: 37px;
        padding: 5px 0px 0px 5px;
      }

      .categoryContent {
        padding-left: 30px;
      }

      .categoryBox {
        width: 60px;
      }

      .hamburgerIcon {
        margin: 4px 10px 0px 0px;
        width: 20px;
        height: 20px;
        background: url(../../img/menu.png) no-repeat;
        background-size: cover;
      }
    }
  }

  ul {
    display: flex;
  }
  .headerCenter {
    list-style: none;

    .headerCenterBox {
      display: flex;

      justify-content: center;
      width: 150px;
      height: 55px;
      padding-top: 18px;
      line-height: 20px;
      text-align: center;

      span {
        height: 20px;
      }
    }

    .headerCenterBox:hover {
      cursor: pointer;
    }
    span:hover {
      border-bottom: 1px solid black;
    }
  }

  .headerRight {
    height: 32px;
    padding: 6px 16px;
    border-radius: 18px;
    border: 1px solid rgb(238, 238, 238);
    color: rgb(102, 102, 102);
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -0.32px;
    text-decoration: none;
  }
  .colorChagne {
    color: #5f0090;

    padding-right: 2px;
  }
}

.scrollheaderWrap {
  visibility: visible;
  z-index: 100;
  background-color: white;
  position: fixed;
  width: 100vw;
  height: 50px;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #efefef;
  box-shadow: rgb(0 0 0 / 7%) 0px 3px 4px 0px;
  .scrollhederLeft {
    width: 150px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;

    .scrollhamburgerIcon {
      margin: 4px 10px 0px 0px;
      width: 20px;
      height: 20px;
      background: url(../../img/menu.png) no-repeat;
      background-size: cover;
    }
  }

  ul {
    display: flex;
  }
  .scrollheaderCenter {
    list-style: none;

    .scrollheaderCenterBox {
      display: flex;

      justify-content: center;
      width: 120px;
      height: 55px;
      padding-top: 18px;
      line-height: 20px;
      text-align: center;

      span {
        height: 20px;
      }
    }

    .scrollheaderCenterBox:hover {
      cursor: pointer;
    }
    span:hover {
      border-bottom: 1px solid black;
    }
  }

  .scrollSearchBox {
    position: relative;
    width: 230px;
    height: 36px;
    border: none;
    background-color: rgb(247, 247, 247);
    display: flex;
    justify-content: center;
    border-radius: 5px;
    margin-left: 20px;

    .scrollSearchBar {
      background-color: inherit;
      border: none;
      outline: none;
    }
    .scrollMagnifier {
      position: absolute;
      top: 7px;
      right: 7px;
      width: 20px;
      height: 20px;
      border: none;
      background: url(../../img/free-icon-magnifier.png) no-repeat;
      background-size: cover;
    }
  }
  .scrollIconBox {
    margin-left: 20px;
    .iconLocation {
      width: 30px;
      height: 30px;
      border: none;
      background: url(../../img/location.png);
      background-size: cover;
    }

    .iconHeart {
      margin-left: 20px;
      width: 30px;
      height: 30px;
      border: none;
      background: url(../../img/love.png);
      background-size: cover;
    }
    .iconCart {
      margin-left: 20px;
      width: 30px;
      height: 30px;
      border: none;
      background: url(../../img/purchase.png);
      background-size: cover;
    }
  }
}
