.SliderImages {
  width: 100vw;
  height: 370px;
  background: url(https://cdn.pixabay.com/photo/2020/09/04/11/28/apples-5543778_960_720.jpg)
    no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 100px;
}
