* {
  padding: 0;
  margin: 0;
}

.productBox {
  width: 250px;
  height: 450px;
  margin-left: 20px;
}
.mainProductImg {
  width: 250px;
  height: 320px;
  margin-bottom: 15px;
}
.productName {
  margin-bottom: 7px;
}
