.productBox {
  width: 250px;
  height: 450px;
  margin-left: 20px;
}
.mainProductImg {
  width: 250px;
  height: 320px;
  margin-bottom: 15px;
  cursor: pointer;
}
.productName {
  margin-bottom: 7px;
  cursor: pointer;
}
