.MaincontentWraper {
  position: relative;
  width: 1100px;
  height: 750px;
  overflow-x: hidden;

  .MainContentBox {
    width: 100%;
    height: 50px;
        .btnLeft {
      font-size: 20px;
      position: absolute;
      top: 320px;
      left: 0;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 1px solid #d7dce1;
      z-index: 100;
      background-color: #ffffff;
      cursor: pointer;
    }
    .btnRight {
      font-size: 20px;
      position: absolute;
      top: 320px;
      right: 0px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 1px solid #d7dce1;
      z-index: 100;
      background-color: #ffffff;
      cursor: pointer;
    }

    .MainContentTitle {
      display: flex;
      justify-content: center;

      font-size: 25px;

      margin: 100px 0px 50px 0px;
    }

    .productInformation {
      position: relative;
      width: 100vw;
      height: 450px;
      display: flex;
      flex-direction: row;
      // margin-left: -1110px;
    }
    .productBox {
      position: relative;
      width: 250px;
      height: 450px;
    }
    .mainProductImg {
      width: 250px;
      height: 320px;
      margin-bottom: 15px;
      cursor: pointer;
    }
    .productName {
      margin-bottom: 7px;
    }

    .cart {
      position: absolute;

      right: 10px;
      bottom: 140px;
      width: 50px;
      height: 50px;
      background: url(../../img/purchase.png);
      background-size: 30px 30px;
      background-repeat: no-repeat;
      background-position: center;
      background-color: #857190;
      border-radius: 50px;
      border: none;
      cursor: pointer;
    }
  }
}
