.wrap {
  width: 100%;
  height: 100%;
  display: flex;

  .MainContentTitle {
    display: flex;
    justify-content: center;
    font-size: 25px;
    // margin: 10px 10px 50px 0px;
  }

  .MainContentBox {
    width: 100vw;
    display: flex;
    justify-content: center;
  }

  .filter {
    width: 250px;
    border-bottom: 1px solid lightgray;
    padding-bottom: 20px;
    padding-left: 10px;
    margin-top: 40px;
  }

  .productInformation {
    margin-top: 40px;

    display: flex;
    flex-direction: column;
  }

  .productInformation-filter {
    margin-bottom: 20px;
    align-self: flex-end;

    span {
      float: left;
      padding: 0 15px;
      color: #999999;
      font-size: 12px;

      cursor: pointer;
    }
    span::after {
      content: '|';
      float: right;
      margin-right: -15px;
    }
    span:last-child::after {
      content: '';
    }
  }
  .productInformation-card {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 20px;
  }
}
